*,
*::after,
*::before{
  box-sizing: border-box;
  margin: 0;
}



body{
  background-color: yellow;
  font-family: 'Lato', sans-serif;
}
a {
  text-decoration: none;
  display: inline-block;
}
ul{
  list-style: none;
}
.headerTop{
  background-image: url('https://xn----8sbiecm6bhdx8i.xn--p1ai/sites/default/files/kuba_auto_7.jpg');
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 40px;
}

.headerTopInner{
  border: 2px solid rgba(226,165,29,1);
  border-bottom: none;
  display: flex;
  flex-direction: column;
  height: 100%;
  color: white;
}

.headerTitle{
  font-weight: bold;
  font-size: 200px;
  line-height: 227px;
  text-shadow: 0px 4px 4px rgba(226,165,29,1);
  margin: auto;
}

.headerText{
  font-size: 24px;
  text-shadow: 0px 4px 4px rgba(226,165,29,1);
  display: flex;
  white-space: nowrap;
  align-items: center;
  margin-bottom: -12px;
}

.headerText::after,
.headerText::before{
  content: "";
  border-top: 2px solid rgba(226,165,29,1);
  width: 100%;
}

.headerText::after{
  margin-left: 30px;
}

.headerText::before{
  margin-right: 30px;
}
.navMenu{
  border-bottom: 2px solid rgba(77,77,184, .5);
}
.menuList{
  display: flex;
  justify-content: center;
  align-items: center;
}
.menuListLink{
  font-size: 16px;
  font-weight: bold;
  line-height: 19px;
  padding: 20px 10px 20px;
  color: rgba(73,94,76,1);
  margin: 0 6px;
  border-bottom: 4px solid transparent;
  transition: all .5s;
}

.menuListLink:hover{
  color: gray;
  border-bottom: 4px solid rgba(99,20,65,1);
}
.wraper {
  width: 970px;
  margin: 0 auto;
}
.about{
  padding: 80px 0 0;

}
.aboutTitle{
  font-size: 30px;
  line-height: 38px;
  text-align: center;
  color: rgba(27,36,64,1);
  margin-bottom: 22px;
}
.aboutItem{
  margin-bottom: 100px;
  padding: 70px 0;
  background-repeat: no-repeat;
  background-position: right;
}
.aboutBox{
  padding: 33px 40px 18px 40px;
  background-color: white;
  max-width: 470px;
  position: relative;
}
.aboutBoxTitle{
  font-size: 24px;
  line-height: 25px;
  color: rgba(53,75,108,1);
  margin-bottom: 20px;
}
.aboutBox::after,
.aboutBox::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
}

.aboutBox::before {
  border-top: 2px solid rgba(235,165,20,1);
  border-left: 2px solid rgba(235,165,20,1);
  left: 19px;
  top: 19px;
}
.aboutBox::after {
  border-bottom: 2px solid rgba(235,165,20,1);
  border-right: 2px solid rgba(235,165,20,1);
  right: 19px;
  bottom: 19px;
}
